<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sw</title>

    <!-- 부트스트랩 CSS 링크-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 부트스트랩 Icons 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Google Fonts - Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="kimleepark.css">
</head>

<body>
    <!-- navbar 영역 -->
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid col-lg-8 col-md-10">
            <!-- 프로젝트 로고 및 이름 -->
            <a class="navbar-brand" href="./main.html">
                <div class="row px-2 py-3">
                    <img src="./asset/logo.png" alt="Logo" class="col-auto" style="width: 5rem;" height="auto">
                    <h5 class="fw-900 m-auto col-auto">프로젝트명</h5>
                </div>
            </a>
            <button class="border-0 bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <img src="./asset/menu.png" width="25rem;">
            </button>
        </div>
    </nav>
    <hr class="m-0">

    <!-- 회원정보관리 탭 offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header mx-3">
            <div class="d-flex align-items-center">
                <!-- 프로필 이미지(동적으로 불러오기) -->
                <img class="rounded-circle overflow-hidden my-3" style="width: 3.5rem; height: 3.5rem;"
                    src="./asset/profile.png" alt="profile image">
                <!-- 사용자명(동적으로 불러오기) -->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle d-flex align-items-center" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="fw-500 ms-3 my-0 pe-2 mb-0 text-dark">사용자<span>님</span></p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">로그아웃</a>
                    </div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="m-0 mx-auto" width="85%">
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="text-gray nav-link"><i class="bi bi-list-ul me-2"
                            style="color: #369FFF; font-size: 1.3rem;"></i>프로젝트 목록</a>
                </li>
                <li class="nav-item">
                    <a class="text-gray nav-link"><i class="bi bi-file-earmark-arrow-up me-2"
                            style="color: #369FFF; font-size: 1.3rem;"></i>프로젝트 등록</a>
                </li>
                <li class="nav-item">
                    <a class="text-gray nav-link"><i class="bi bi-person-gear me-2"
                            style="color: #369FFF; font-size: 1.3rem;"></i>회원정보관리</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-center flex-column align-items-center text-center">
        <img src=" ./asset/cow.png" class="my-5" width="200rem;">
        <h4 class="fw-600 mb-3">"<span class="text-primary">프로젝트명</span>" 프로젝트에 초대되셨습니다</h4>
        <p class="mb-5">이 프로젝트는 <span class="text-primary">사용자</span>님에 의해 초대된 프로젝트입니다.<br>초대에 응하시겠습니까?</p>
        <div>
            <a href="./main.html" class="btn btn-outline-primary me-2" style="width:5rem;">거절</a>
            <a href="./main.html" class="btn btn-primary" style="width:5rem;">수락</a>
        </div>
    </div>


    <!-- 부트스트랩 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>