<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sw</title>

    <!-- 부트스트랩 CSS 링크 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 부트스트랩 Icons 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Google Fonts - Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="kimleepark.css">
</head>

<body>
    <!-- navbar 영역 -->
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid col-lg-8 col-md-10">
            <!-- 프로젝트 로고 및 이름 -->
            <a class="navbar-brand" href="./main.html">
                <div class="row px-2 py-3">
                    <img src="./asset/logo.png" alt="Logo" class="col-auto" style="width: 5rem;" height="auto">
                    <h5 class="fw-900 m-auto col-auto">프로젝트명</h5>
                </div>
            </a>
            <!-- 메뉴 탭 (md 사이즈 미만) -->
            <div class="d-none d-lg-block">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle d-flex align-items-center" id="profileDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="./asset/person.png">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="#">회원정보관리</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">로그아웃</a></li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler border-0 d-block d-lg-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img src="./asset/menu.png" width="25rem;">
            </button>
        </div>
    </nav>
    <hr class="m-0">


    <!-- offcanvas는 data-bs-target으로 컴포넌트 id를 찾기 때문에 소스코드 위치는 이동해도 상관x -->


    <!-- 회원정보관리 탭 offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header mx-3">
            <div class="d-flex align-items-center">
                <!-- 프로필 이미지(동적으로 불러오기) -->
                <img class="rounded-circle overflow-hidden my-3" style="width: 3.5rem; height: 3.5rem;"
                    src="./asset/profile.png" alt="profile image">
                <!-- 사용자명(동적으로 불러오기) -->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle d-flex align-items-center" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="fw-500 ms-3 my-0 pe-2 mb-0 text-dark">사용자<span>님</span></p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">로그아웃</a>
                    </div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr class="m-0 mx-auto" width="85%">
        <div class="offcanvas-body">
            <div id="offcanvasMenuContent"></div>
            <div class="nav flex-column">
                <div class="nav-item">
                    <a class="nav-link text-gray"><i class="bi bi-person-gear me-2"
                            style="color: #369FFF; font-size: 1.3rem;"></i>회원정보관리</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid col-lg-8 col-md-10 mt-5">
        <div class="row">
            <!-- side bar -->
            <div class="mx-auto col-lg-3 col-md-3">
                <!-- 메뉴 탭 (md size 이상)-->
                <div class="d-none d-lg-block text-center">
                    <h5 class="mb-3">MENU</h5>
                    <div id="menuContent">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="./main.html" class="nav-link text-dark d-flex"><i class="bi bi-list-ul me-2"
                                        style="color: #369FFF; font-size: 1.3rem;"></i>
                                    <div class="my-auto">프로젝트 목록</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-gray d-flex"><i
                                        class="bi bi-file-earmark-arrow-up me-2"
                                        style="color: #369FFF; font-size: 1.3rem;"></i>
                                    <div class="my-auto">프로젝트 등록</div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-11 mt-4 mx-auto">
                <h5 class="card-title fw-600 mb-5">프로젝트등록
                    <span class="text-danger" style="font-size: 1rem;">(*필수입력)</span>
                </h5>
                <table class="table table-borderless">
                    <!-- 프로젝트명 -->
                    <tr>
                        <th style="width:25%"><label for="projectname">프로젝트명<span class="text-danger">*</span></label>
                        </th>
                        <td>
                            <input type="text" id="projectName" name="projectName" class="form-control" required>
                            <small class="form-text text-muted mb-3">n자 이하로 작성해주세요.</small>
                        </td>
                    </tr>
                    <!-- 프로젝트설명 -->
                    <tr>
                        <th><label for="
                            projectexplanation">프로젝트<br>설명<span class="text-danger">*</span></label></th>
                        <td>
                            <input type="text" id="explanation" name="explanation" class="form-control" required>
                            <small class="form-text text-muted mb-3">n자 이하로 작성해주세요.</small>
                        </td>
                    </tr>
                    <!-- 프로젝트기간 -->
                    <tr>
                        <th><label for="date">프로젝트<br>기간</label></th>
                        <td>
                            <div class="input-group">
                                <input type="date" id="start_date" name="start_date" class="form-control">
                                <span class="mx-3 my-auto">-</span>
                                <input type="date" id="end_date" name="end_date" class="form-control">
                            </div>
                        </td>
                    </tr>
                    <!-- 프로젝트등록 버튼 -->
                    <tr>
                        <td colspan="2" class="text-center">
                            <button type="submit" class="btn btn-primary fw-500 mt-5"
                                style="width: 8rem; height: 3rem;">등록하기</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        /* 메뉴 탭 재사용*/
        const menuContent = document.getElementById("menuContent");
        const offcanvasMenuContent = document.getElementById("offcanvasMenuContent");

        // menuContent의 내용을 offcanvasMenuContent에 가져와서 화면에 출력
        offcanvasMenuContent.innerHTML = menuContent.innerHTML;


        /*프로젝트 기간 유효성 검사*/
        document.addEventListener("DOMContentLoaded", function () {
            const startDateInput = document.getElementById("start_date");
            const endDateInput = document.getElementById("end_date");
            const submitButton = document.querySelector("button[type='submit']");

            submitButton.addEventListener("click", function (event) {
                // 시작 날짜와 종료 날짜가 모두 입력된 경우만 검사
                if (startDateInput.value && endDateInput.value) {
                    const startDate = new Date(startDateInput.value);
                    const endDate = new Date(endDateInput.value);

                    if (startDate > endDate) {
                        alert("시작 날짜를 종료 날짜보다 빠르게 설정하세요.");
                        event.preventDefault(); // 등록 막기
                    }
                }
            });
        });
    </script>

    <!-- 부트스트랩 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>