<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sw</title>

    <!-- 부트스트랩 CSS 링크-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Fonts - Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="kimleepark.css">
</head>

<body class="bg-gray">
    <!-- navbar-->
    <nav class="navbar bg-white">
        <div class="container-fluid col-lg-8 col-md-10">
            <a class="navbar-brand" href="./index.html">
                <div class="d-flex px-2 py-3">
                    <!-- 로고 이미지 -->
                    <img src="./asset/logo.png" alt="Logo" class="img-fluid me-3" width="60rem" height="auto">
                    <!-- 프로젝트명 -->
                    <h5 class="fw-900 m-auto">프로젝트명</h5>
                </div>
            </a>
            <a href="index.html" class="text-gray fw-600">로그인</a>
        </div>
    </nav>

    <div class="row d-flex justify-content-center">
        <div class="flex-column accordion-header col-md-10"> <!-- 수직 정렬 -->

            <!-- 회원가입 진행 설명 영역 -->
            <div class=" col-12 mb-5">
                <h5 class="text-center fw-600 mt-6 mb-4">회원가입</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <img src="./asset/pencil_blue.png" width="40" height="auto">
                        <p class="text-center mt-2 fw-500">정보입력
                        <p>
                    </div>
                    <svg class="mb-5" xmlns="http://www.w3.org/2000/svg" width="55" height="10" viewBox="0 0 93 4"
                        fill="none">
                        <path d="M2 2H91" stroke="#b5b5b5" stroke-width="3" stroke-linecap="round"
                            stroke-dasharray="6 6" />
                    </svg>
                    <div class="text-center">
                        <img src="./asset/check_gray.png" width="40" height="auto">
                        <p class="text-center mt-2 fw-500 text-gray">가입완료</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 정보 입력 영역 -->
        <div class="card mb-3 col-lg-6 col-md-9 col-11">
            <div class="card-body mt-3">
                <h5 class="card-title fw-600 mb-5">개인정보입력<span class="text-danger"
                        style="font-size: 1rem;">(*필수입력)</span>
                </h5>
                <table class="table table-borderless">
                    <tr>
                        <th style="width:25%"><label for="username">아이디<span class="text-danger">*</span></label>
                        </th>
                        <td>
                            <div class="d-flex align-items-center">
                                <input type="text" id="username" name="username" class="form-control me-3" required>
                                <button type="submit" class="btn btn-gray" style="width: 10rem;">중복확인</button>
                            </div>
                            <small class="form-text text-muted mb-3">아이디는 영문, 숫자를 포함하여 8자 이상 입력해주세요.</small>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="password">비밀번호<span class="text-danger">*</span></label></th>
                        <td>
                            <input type="password" id="password" name="password" class="form-control" required>
                            <small class="form-text text-muted mb-3">비밀번호는 영문, 숫자를 포함하여 8자 이상 입력해주세요.</small>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="password">비밀번호<br>확인<span class="text-danger">*</span></label></th>
                        <td>
                            <input type="password" id="password2" name="password2" class="form-control mb-4" required>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="name">이름<span class="text-danger">*</span></label></th>
                        <td>
                            <input type="text" id="name" name="name" class="form-control mb-4" required>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="phone">전화번호<span class="text-danger">*</span></label></th>
                        <td>
                            <div class="d-flex">
                                <select class="form-select ps-2" style="width: 6rem;">
                                    <option value="010" selected>010</option>
                                    <option value="011">011</option>
                                </select>
                                <input type="text" class="form-control mx-2" style="width: 6rem;" id="phone2" required>
                                <input type="text" class="form-control mb-4" style="width: 6rem;" id="phone3" required>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="birthdate">생년월일<span class="text-danger">*</span></label></th>
                        <td>
                            <div class="d-flex">
                                <select id="year" class="form-select me-2 ps-2 mb-4" style="width: 6rem;" required>
                                    <option value="년" hidden>년</option>
                                </select>
                                <select id="month" class="form-select me-2 ps-2" style="width: 6rem;" required>
                                    <option value="월" hidden>월</option>
                                </select>
                                <select id="day" class="form-select ps-2" style="width: 6rem;" required>
                                    <option value="일" hidden>일</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <!-- email type은 required가 있어야 유효성 검사를 함 -->
                    <tr>
                        <th><label for="email">이메일<span class="text-danger">*</span></label></th>
                        <td><input type="email" id="email" name="email" class="form-control mb-5" required></td>
                    </tr>

                    <tr>
                        <td colspan="2" class="text-center">
                            <button type="submit" class="btn btn-primary fw-500"
                                style="width: 8rem; height: 3rem;">가입하기</button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>

    </div>

    <script>
        const phone2 = document.getElementById("phone2");
        const phone3 = document.getElementById("phone3");

        phone2.addEventListener("input", restrictNonNumeric);
        phone3.addEventListener("input", restrictNonNumeric);

        // 숫자 외의 키 입력 방지
        function restrictNonNumeric(event) {
            const input = event.target;
            const newValue = input.value.replace(/[^\d]/g, ""); // 숫자 이외의 문자 제거
            input.value = newValue;
        }

        phone2.addEventListener("input", restrictMaxLength);
        phone3.addEventListener("input", restrictMaxLength);

        // 최대 4자리까지 입력 가능하도록 설정
        function restrictMaxLength(event) {
            const input = event.target;
            if (input.value.length > 4) {
                input.value = input.value.slice(0, 4);
            }
        }

        const yearSelect = document.getElementById("year");
        const monthSelect = document.getElementById("month");
        const daySelect = document.getElementById("day");

        // 현재 년도부터 1930년까지의 옵션 생성
        const currentYear = new Date().getFullYear();
        for (let year = currentYear; year >= 1930; year--) {
            const option = document.createElement("option");
            option.value = year;
            option.textContent = year + "년";
            yearSelect.appendChild(option);
        }

        // 1월부터 12월까지의 옵션 생성
        for (let month = 1; month <= 12; month++) {
            const option = document.createElement("option");
            option.value = month;
            option.textContent = month + "월";
            monthSelect.appendChild(option);
        }

        // 1부터 31까지의 옵션 생성
        for (let day = 1; day <= 31; day++) {
            const option = document.createElement("option");
            option.value = day;
            option.textContent = day + "일";
            daySelect.appendChild(option);
        }
    </script>

    <!-- 부트스트랩 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>